<!DOCTYPE html>
<html>
<head>
    <title>METANIT.COM</title>
</head>
<body>

<h1>Регистрация</h1>
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"  />
    </Found>
</Router>

<script src="_framework/blazor.web.js"></script>
</body>
</html>